<div class="center1">
    <div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="" />
    </div>
    <div class="cf">    
         <h5>
            {{name}}
        </h5>                 
    </div>
    <div>
        <p>Click Here for result</p>
            <button (click)="result()">result Link</button><br>              
                <label>Name : {{ todos.Name }}</label><br>
                <label>reg num: {{ todos.RegisterNumber }}</label><br>
                <label>prev gpa : {{ todos.PrevGpa}}/10</label><br>
                <label>email : {{todos.Email}}</label><br>
                <label>department : {{ todos.Department }}</label><br>
                <label>year : {{todos.Year}}</label><br>
                <label>attandance : {{todos.Attendance}}/100</label>
    </div>                                                                     
</div>